header{
    height: 200px;
    
}
#menu{
    width: 20%;
    height: 800px;
   background-color: rgb(246, 255, 83);
    float: left;
}
#content{
    width: 80%;
    height: 800px;
    background-color: rgb(63, 25, 233);
    float: left;
}
footer{
    height: 50px;
    background-color: rgb(237, 245, 18);
    clear: both;
}
h2{
    text-align: center;
}
.bgvideo{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgvideo video{
    width: 100%;
    height: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}
.textvideo{
    z-index: 2; 
}


/* CSS */
.button-74 {
  background-color: #2f27c3;
  border: 2px solid #31219f;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #3a28c1;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #4710d2;
}

.button-74:active {
  box-shadow: #7f49aa 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
h2{
    color: #1610c4;
}
h3{
    color: rgb(246, 224, 23);
}
h4{
    color: rgb(0, 0, 0);
}